set number
set relativenumber 

set incsearch
set ignorecase
set smartcase
nnoremap <silent> n nzz
nnoremap <silent> N Nzz
nnoremap <silent> * *zz
nnoremap <silent> # #zz
nnoremap <silent> g* g*zz

let mapleader = "\<Space>"

set scrolloff=5

set surround

inoremap jk <esc>
inoremap kj <esc>

vnoremap jk <esc>
vnoremap kj <esc>

inoremap <down> <nop>
inoremap <left> <nop>
inoremap <right> <nop>
inoremap <up> <nop>

nnoremap <down> <nop>
nnoremap <left> <nop>
nnoremap <right> <nop>
nnoremap <up> <nop>

vnoremap <down> <nop>
vnoremap <left> <nop>
vnoremap <right> <nop>
vnoremap <up> <nop>

nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l

map H ^
map L $

nnoremap <leader>ln :set rnu!<cr>

nnoremap <leader>; :action RecentFiles<cr>
nnoremap <leader>u :action FindUsages<cr>

nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

nnoremap gd <esc>:action GotoDeclaration<cr>
nnoremap gi <esc>:action GotoImplementation<cr>

nnoremap <leader>d :action Debug<cr>
nnoremap <leader>r :action Run<cr>
